.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 294px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 710px) {
.profile__title {
  font-size: 27px;
  line-height: 1.21;
  max-width: 189px;
  padding: 23px 0 5px 0;
  text-align: center;
}
}